* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body,html{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    position: relative;
}

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: green; */
}

#nav{
    width: 100%;
    height: 7vh;
    box-shadow: 0px -20px 60px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    z-index: 10;
}

#nav h2{
    color: rgb(254, 129, 254);
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: -.1vw;
}

#nav h2>span{
    color: rgb(103, 103, 247);
    text-decoration-line: underline;
}

#middle-nav{
    display: flex;
    align-items: center;
    gap: 15px;
}

#middle-nav h3{
    font-size: 1.3vw;
    font-weight: 100;
}

#nav-icon {
    display: flex;
    gap: 10px;
}


#bottom-nav{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 93vh;
    display: flex;
    background-image: url("./image/bg1.png");
    background-size:contain;
}

#left-nav{
    width: 50%;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    gap: 15px;
}

#left-nav h2{
    font-size: 7vw;
    font-weight: 700;
    line-height: 0.8;
    background: rgb(249,59,241);
background: linear-gradient(142deg, rgba(249,59,241,1) 0%, rgba(142,40,167,1) 17%, rgba(56,19,123,1) 32%, rgba(7,7,99,1) 46%, rgba(9,9,121,1) 59%, rgba(6,81,168,1) 71%, rgba(1,188,239,1) 86%, rgba(0,212,255,1) 98%);
    color: transparent;
    -webkit-background-clip: text;
}

#left-nav p{
    width: 90%;
    font-size: 1.2vw;
    margin-top: 40px;
    font-weight: 100;
}


#left-nav button{
    padding: 10px 40px;
    width: 40%;
    border: none;
    background: rgb(249,59,241);
    background: linear-gradient(142deg, rgba(249,59,241,1) 0%, rgba(142,40,167,1) 17%, rgba(56,19,123,1) 32%, rgba(7,7,99,1) 46%, rgba(9,9,121,1) 59%, rgba(6,81,168,1) 71%, rgba(1,188,239,1) 86%, rgba(0,212,255,1) 98%);
    color: white;
    border-radius: 20px;
    font-size: 1vw;
    font-weight: 600;
    margin-top: 30px;
}

#right-nav{
    height: inherit;
    width: 50%;
    padding: 10px;
}

#right-nav img{
    width: 100%;
    height: 100%;
}


#page2{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    /* display: flex; */
    /* align-items: center;
    flex-direction: column;
    justify-content: center; */
    /* background-color: aqua; */
}

#page2 h2{

    text-align: center;
    font-size: 4vw;
    background: rgb(249,59,241);
    background: linear-gradient(142deg, rgba(249,59,241,1) 0%, rgba(142,40,167,1) 17%, rgba(56,19,123,1) 32%, rgba(7,7,99,1) 46%, rgba(9,9,121,1) 59%, rgba(6,81,168,1) 71%, rgba(1,188,239,1) 86%, rgba(0,212,255,1) 98%);
        color: transparent;
        -webkit-background-clip: text;
    
}


#card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
    padding: 60px;
}

.cards{
    margin-top: 8px;
    width: 19%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    gap: .8px;
    overflow: hidden;
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px purple;
    padding: 10px;
}


.cards #image-div{
    width: 100%;
    height: 55%;
    padding: 40px;
}

.cards #image-div img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in;
}

.cards h2{
    font-size: 2.5vw;
    font-weight: 600;
}

.cards p{
    color: rgb(150, 147, 147);
    font-size: 1vw;
    opacity: .8;
}

.cards h3{
    font-size: 1.6vw;
    font-weight: 100;
}

.cards button {
     padding: 5px 10px;
     border-radius: 10px;
     border: none;
     background-color: azure;
     color: black;
     margin-top:5px ;
}


#card .cards:hover #image-div img{
    transform: scale(1.2,1.2);
}



#star-icon {
    color: rgb(214, 214, 73);
    font-size: 1.2vw;
}



#page3 {
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 40px;
}

#meme{
    width: 30%;
    height: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px black;
}

#meme-left{
    height: 40%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 2px;

}


#meme-pics {
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

#meme-img{
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 1s ease;
    box-shadow: 2px 0px 3px black;
}

#meme-img img{
    width: 100%;
    height: 100%;   

}

#meme-img:hover{
    transform: scale(1.2,1.2);
}

#meme-name h2{
    font-size: 1.4vw;

}


#meme-name #star-icon i{
    font-size: 1vw;
}

#meme-right{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#meme-right p{
    width: 100%;
    font-size: 1.2vw;
    font-weight: 100;
}

